<html>
  <head>
    <title>New Message Form</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1>New Message</h1>
    <form action="/new" method="post">
      <label>
        Name
        <input type="text" name="username" />
      </label>
      <label>
        Message
        <input type="text" name="message" />
      </label>
      <input type="submit" />
    </form>
  </body>
</html>
