<html>
  <head>
    <title>Mini Messageboard</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <% messages.map((message) => { %>
    <ul>
      <li><%= message.text %></li>
      <li><%= message.user %></li>
      <li><%= message.added %></li>
      <a href="/<%= message.text %>">
        <button>Open</button>
      </a>
    </ul>
    <% }) %>
    <a href="/new">
      <button>Send Message</button>
    </a>
  </body>
</html>
