<html>
  <head>
    <title>Message</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div><%= message.user %></div>
    <div><%= message.added %></div>
    <div><%= message.text %></div>
    <a href="/">
      <button>Messages</button>
    </a>
  </body>
</html>
